* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background: #23272F;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 5px 0;
}

li span {
    display: block;
    padding: 10px 30px;
    border-radius: 10px;
    background: #273541;
    cursor: default;
    text-align: center;
}

li span.current {
    color: #149eca;
    box-shadow: inset 12px 12px 12px #23303b, inset -12px -12px 12px #2b3a48;
}

li span:not(.current):hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.square {
    background: #343a46;
    border: 1px solid #149eca;
    float: left;
    font-size: 60px;
    font-weight: 200;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    color: white;
}

.square.winner {
    color: #149eca;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-title {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-title span,
.status {
    color: rgb(107 114 128);
}

.game-restart {
    padding: 20px;
    text-align: center;
}

.game-restart span {
    border-radius: 20px;
    background-color: #157191;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.game-modal {
    background-color: #374151;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
}

.game-modal span {
    font-size: 20px;
    padding-bottom: 20px;
}

.game-modal .cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.game-modal .cards div {
    background: #273541;
    box-shadow: inset 12px 12px 12px #23303b, inset -12px -12px 12px #2b3a48;
    float: left;
    font-size: 60px;
    font-weight: 200;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.game-modal .cards div:hover {
    background-color: #149eca;
    box-shadow: none;
}